  <%= form_with model: @plan, url: calendars_path, class: 'form' do |f| %>
    <%= f.label :日付を選択 %>
    <%= f.date_field%>
    <%= f.label %>
    <%= f.text_field %>
    <%= f.submit '保存' %>
  <% end %>
  <div>
    <% @week_days.each do |day| %>
      <div>
        <div>
          <% day[:month] %>/<% day[:date] %>
        </div>
        <ul>
        <% if day[:plans].length != 0 %>
          <% day[:plans].each do |plan| %>
            <li>・<%= plan %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>